* {
	font-family:'Lora',Sans-serif;
	background-color: #FCF9FF;
}
code {
	background-color: #E3E0E5;
	font-family:courier;
	padding: 1px 5px 1px 5px;
	white-space:pre-wrap;
	display:inline-block;
}
section {
	/*padding-left:10px;*/
}
main {
	color:#3F3E40;
}

/*
** Wireframe Sizing
*/

/* Outermost box */
body{
	margin:20px 15% 20px 15%;
	min-width:450px; 
	max-width:850px;
}
/* Top */
header {
	padding-bottom:5px;
}
header nav {

}
header ul {

}
/* Middle */
main {

}
/* Bottom */
footer {

}
footer div.footer-bar {

}
footer p#legal {

}

/* 
** Header
*/
a h1#title:hover {
	text-decoration: none;
}
header div#title-block {
	display: block;
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-bottom: 5px;

}
header div#subtitle-block {
	display: inline-block;
	/*margin: 0 auto;*/

}
nav#social-media-buttons {
	margin: 0 auto;
	width: 300px;
	display: block;
	text-align: center;
}

header h1 {
	font-size:2.5em;
	color:#7E7C7F;
	margin:0px 0px 0px 8px;
}
header h2 {
	font-family:'Bad Script',cursive;
	font-size:1.5em;
	color:#BDBBBF;
	margin:0em;
}
.button {
	width:40px;
	height:40px;
	margin:8px;
}

ul.nav-bar {
	list-style-type:none;
	margin-top: 0.5em;
	padding: 0.5em;
	border-top: 1px solid #BDBBBF;
	border-bottom: 1px solid #BDBBBF;
	color:#7E7C7F;
}
li.menu-list{
	display:inline-block;
	width: 19%;
	text-align: center;

}
li.footer-link {
	display:inline-block;
	/*width: 65px;
	text-align: center;	*/
}

/*
** Links
*/

a {
	text-decoration:none;
	color:#7E7C7F;
}
a:hover {
	text-decoration:none;
 	color:#3F3E40;
}

/*
** Footer
*/

footer {
	margin-top:8px;
	clear:both;
	bottom: 0;
	border-top: 1px solid #BDBBBF;
}
/*
div.footer-bar {
	border-bottom: 1px solid #BDBBBF;
}
div.footer-link {
	display:inline-block;
}
#prev {
	float:left;
	padding-right:38.5%;
}
#next {
	float:right;
	
}
#blog-index {

}*/
#legal {
	font-size:0.8em;
	padding-left:2px;
	text-align:center;
	margin:0 auto;
	display:block;
	width:200px;
	padding-top:8px;
	padding-bottom:8px;
}

/*
** About Me
*/

#blog-photo {
	display:block;
	margin:0 auto;
	width:240px;
	padding-bottom:15px;
}
#blog-photo img {
	width:200px;	
	display:block;
	margin:0 auto;
	border:2px solid #3F3E40;
}
div.columns-abt-me {
	display:block;

}
div.column-one-abt-me {
	display:inline-block;
    float: left;
  	padding-top: 32px;
  	width:45%;
}
div.column-two-abt-me {
	display:inline-block;
    float: right;
  	padding-top: 32px;
  	width:45%;
}
p#make-block {
	display:block;
}

/*
** Blog 
*/

.blog-title {
	font-family:'Bad Script',cursive;
	font-size:2em;
}
.blog-date {
	color:#7E7C7F;
	font-size:0.9em;
	margin:0;
}
/*.blog-date (special) {
		display:block;
	margin-bottom:8px;
}*/
hr {
	border-bottom:1px dashed #E3E0E5;
	border-left:0px;
	border-top:0px;
	border-right:0px;
	padding-top:0.5em;
	padding-left:0.2em;
}
hr.title-underline{
	padding-top:0;
	margin-bottom:15px;
}

section.padded-section {
	padding-bottom:15px;
	display:block;
}
a.blog-title {
	color:#3F3E40;
	display:block;
	margin-bottom:-5px;
}
strong {
	font-style:italic;
}

/*
** Blog Index
*/

.blog-index-title {
	font-family: 'Bad Script', cursive;
	font-size:1.5em;
	margin:0;
}

ul.month-div {
	display:block;
	list-style-type:none;
	margin: 0px;
	padding: 0px 0.5em 0px 0.5em;
	color:#7E7C7F;
}

li.month-div-center {
	display:inline-block;
	width:19%;
	text-align:center;
}
li.month-div-right{
	display:inline-block;
	width:77%;
}

hr.month-divider {
	margin-top: -9px;
}

div.columns-blog-index{
	display:block;

}
div.column-one-blog-index {
	display:inline-block;
	vertical-align: top;
	text-align: center;
	width:49%;

}
div.column-two-blog-index {
	display:inline-block;
	vertical-align: top;
	text-align: center;
	width:49%;

}

}/*
div#columns-blog-index-july{
	display:block;
}*/
/*
** Unsorted
*/


.center-title {
	margin:0 auto;
	text-align:center;
	display:block;
}
.page-title {
	font-size:2.0em;
	font-family: 'Bad Script',cursive;
}
.qna-response {
	margin-left:15px;
	padding-left:8px;
	border-left:3px solid #BDBBBF;
}


















