* {
	font-family:'Lora',Sans-serif;
	background-color: #FCF9FF;
}

/* 
** Header
*/
header div#title-block {
	display: inline-block;
	height:58px;
	width:300px;
	padding-left:2px;

}
header div#subtitle-block {
	display: inline-block;
	margin: 0 auto;

}
nav#social-media-buttons {
	margin:0;
	display:inline-block;
	float:right;
}

header h1 {
	font-size:3em;
	color:#7E7C7F;
	margin:0em;
}
header h2 {
	font-family:'Bad Script',cursive;
	font-size:1.5em;
	color:#BDBBBF;
	margin:0em;
}
.button {
	width:40px;
	height:40px;
	margin:8px;
}

ul.nav-bar, div.footer-bar {
	list-style-type:none;
	margin-top: 0.5em;
	padding: 0.5em;
	border: 1px solid #BDBBBF;
	color:#7E7C7F;
}
li.menu-list, li.footer-link {
	display:inline-block;
}
li.menu-list a {
	padding-right:1em;	
}


/*
** Links
*/

a {
	text-decoration:none;
	color:#7E7C7F;
}
a:hover {
	text-decoration:underline;
 	color:#3F3E40;
}

/*
** Footer
*/

footer {
	margin-top:1em;
	clear:both;
	bottom: 0;
}

div.footer-link {
	display:inline-block;
}
#prev {
	float:left;
	padding-right:38.5%;
}
#next {
	float:right;
	
}
#blog-index {

}
#legal {
	font-size:0.8em;
	padding-left:2px;
}

/* 
** Blog Pages
*/

.blog-title {
	font-family:'Bad Script',cursive;
	font-size:2em;
}
.blog-date {
	color:#7E7C7F;
	font-size:0.9em;
	padding-top:2em;
}

/*
** About Me
*/

#blog-photo {
	height:450px;
	padding:0em;
	margin:0px 0px 0px 50px;
	border:2px solid black;
	display:inline-block;
}
#blog-bio {
	height:480px;
	width:700px;
	padding:0em;
	margin:0px 0px 0px 10px;
	display:inline-block;
}

/*
** Blog Index
*/

hr {
	border-bottom:1px dashed #E3E0E5;
	border-left:0px;
	border-top:0px;
	border-right:0px;
	padding-top:0.5em;
	padding-left:0.2em;
}
hr.title-underline{
	padding-top:0;
}

/*
** Unsorted
*/

a.blog-title {
	color:#3F3E40;
}
.page-title {
	padding-left:0em;
	padding-top:0em;
	margin:0em;
	margin-bottom:-0.3em;
	font-size:2.0em;
	font-family: 'Bad Script',cursive;
}

















